footer {
  width: 100%;
  height: 100px;
  background-color: #1B355C ;
  color: #E7F1FA;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link-contacts-footer i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #E7F1FA;
}